@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
*{
    font-family: "Fredoka", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
body{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}	
.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   height: 35vh;
   width: 40vw;
   border: 3px solid black;
   border-radius: 15px;
   padding: 30px;
}
.container > h1{  
  font-size: 2.5vh; 
  letter-spacing: 1.5px;
}	
.options{
   height: 55%;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
   padding: 10px;
}
.options > button{
  width: 75%;
  height: 32px;
  text-align: left;
  padding-left: 20px;
  background: transparent;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
}
button:hover{
   background: linear-gradient(90deg in oklab, #347474, #118a7e);
}	