@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  width: 40vw;
  border: 3px solid black;
  border-radius: 15px;
  padding: 30px;
}

.container > h1 {
  font-size: 2.5vh;
  letter-spacing: 1.5px;
}

.options {
  height: 55%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}

.options > .default {
  width: 75%;
  height: 32px;
  text-align: left;
  padding-left: 20px;
  background: transparent;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.wrong {
  width: 75%;
  height: 32px;
  text-align: left;
  padding-left: 20px;
  color: rgba(211, 10, 10, 0.931);
  border: 2px solid rgba(211, 10, 10, 0.931);
  border-radius: 6px;
  cursor: pointer;
}

.wrong::before {
  content: "•";
  color: rgba(211, 10, 10, 0.931);
  margin-right: 5px;
  display: inline-block;
}

.correct {
  width: 75%;
  height: 32px;
  text-align: left;
  padding-left: 20px;
  color: rgba(14, 201, 14, 0.931);
  border: 2px solid rgba(14, 201, 14, 0.931);
  border-radius: 6px;
  cursor: pointer;
}

.correct::before {
  content: "•";
  color: rgba(14, 201, 14, 0.931);
  margin-right: 5px;
  display: inline-block;
}

.hover:hover {
  background: linear-gradient(90deg in oklab, #2b6e6e, #118a7e);
}

#timer {
  font-size: 40px;
  color: rgb(41, 206, 41);
  border: 10px solid rgb(41, 206, 41);
  padding: 24px;
  border-radius: 60%;
}

@media (max-width: 768px) {
  .container {
    height: 50vh;
    width: 60vw;
    margin: 0;
  }

  .container > h1 {
    font-size: 3vh;
  }

  .options > button {
    width: 90%;
    height: 40px;
    padding-left: 10px;
  }

  #timer {
    font-size: 30px;
    padding: 20px;
  }
}
